<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profile.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profile.age %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.country %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= profile.birthday %>
  </p>

  <p>
    <strong>Portfolio:</strong>
    <%= link_to profile.portfolio, profile.portfolio %>
  </p>

  <p>
    <strong>Other:</strong>
    <%= profile.other %>
  </p>

</div>
